:root {
    --LimeGreen: hsl(163, 72%, 41%);
    --BrightRed: hsl(356, 69%, 56%);
    --Facebook: hsl(195, 100%, 50%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram1: hsl(60, 20%, 1%);
    --Instagram2: hsl(329, 70%, 58%);
    --YouTube: hsl(348, 97%, 39%);
}
* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}

/*
  Theme
*/
.dark {
    --card-background: hsl(228, 28%, 20%);
    --card-background-highlight: hsl(228, 28%, 30%);
    --main-background: hsl(230, 17%, 14%);
    --main-background-top: hsl(232, 19%, 15%);
    --main-font: white;
    --secondary-font: hsl(228, 34%, 66%);
}

.light {
    --card-background: hsl(227, 47%, 96%);
    --card-background-highlight: hsl(227, 47%, 91%);
    --main-background: white;
    --main-font: hsl(230, 17%, 14%);
    --secondary-font: hsl(228, 12%, 44%);
}

html,
body {
    height: 100%;
}
body {
    background: linear-gradient(
        to bottom,
        var(--main-background-top) 30%,
        var(--main-background) 30% 80%,
        var(--main-background) 80%
    );
    margin: 0 auto;
    max-width: 1440px;
    color: var(--main-font);
}

.header {
    margin: 0;
    padding: 1.5em 8em;
    background-size: 100vh, 100vh auto;
    width: 100%;
}
.header p {
    font-size: 12px;
}
.header .left {
    float: left;
}
.header .right {
    padding-top: 1em;
    float: right;
    display: flex;
    flex-direction: row;
}

.right p {
    padding: 0.5em 1em 0 0;
}

/****************
       Cards
  ***************/
.cards {
    margin: 6em 4em 0 8em;
}
.card {
    display: block;
    float: left;
    width: 22%;
    height: 28vh;
    margin-right: 2%;
    background-color: var(--card-background);
    text-align: center;
    border-radius: 3px;
}
/* card border-top */
.facebook {
    border-top: 5px var(--Facebook) solid;
}
.twitter {
    border-top: 5px var(--Twitter) solid;
}
.instagram {
    border-top: 5px solid;
    border-image-source: linear-gradient(
        to right,
        hsl(37, 97%, 70%),
        hsl(329, 70%, 58%)
    );
    border-image-slice: 1;
}
.youtube {
    border-top: 5px var(--YouTube) solid;
}
.username {
    font-size: 12px;
    padding: 2em 0 1em 0;
    color: var(--secondary-font);
}
.follower-total {
    font-size: 55px;
    font-weight: 700;
}
.follower-subscriber {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: var(--secondary-font);
}
.follower-increased {
    padding: 2em;
    font-size: 12px;
    font-weight: 700;
}
.follower-green {
    color: var(--LimeGreen);
}
.follower-red {
    color: var(--BrightRed);
}
/* social media icons */
.fab,
.fa {
    font-size: 18px;
    padding-right: 0.5em;
}
.fa-facebook-square {
    color: var(--Facebook);
}
.fa-twitter {
    color: var(--Twitter);
}
.fa-instagram {
    /* color: transparent; */
    background: #d6249f;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-youtube-play {
    color: var(--BrightRed);
}
/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: #3e52a3;
}

/*# sourceMappingURL=styles.css.map */
