:root {
    --LimeGreen: hsl(163, 72%, 41%);
    --BrightRed: hsl(356, 69%, 56%);
    --Facebook: #4267b2;
    --Twitter: hsl(203, 89%, 53%);
    --Instagram1: hsl(60, 20%, 1%);
    --Instagram2: hsl(329, 70%, 58%);
    --YouTube: hsl(348, 97%, 39%);
}
* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}

/*
  Theme
*/
.dark {
    --card-background: hsl(228, 28%, 20%);
    --card-background-highlight: hsl(228, 28%, 30%);
    --main-background: hsl(230, 17%, 14%);
    --main-background-top: hsl(232, 19%, 15%);
    --main-font: white;
    --secondary-font: hsl(228, 34%, 66%);
}

.light {
    --card-background: hsl(227, 47%, 96%);
    --card-background-highlight: hsl(227, 47%, 91%);
    --main-background: white;
    --main-font: hsl(230, 17%, 14%);
    --secondary-font: hsl(228, 12%, 44%);
}

html,
body {
    height: 100%;
}
body {
    background: linear-gradient(
        to bottom,
        var(--main-background-top) 30%,
        var(--main-background) 30% 80%,
        var(--main-background) 80%
    );
    margin: 0 auto;
    max-width: 1440px;
    color: var(--main-font);
}

.header {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 1.5em 8em;
}
.header p {
    font-size: 12px;
    padding: 0.5em 0;
}
.right {
    position: relative;
    /* display: flex; */
    /* align-content: flex-end; */
    margin-left: 36em;
}

.right p,
.left p {
    font-weight: 700;
    color: var(--secondary-font);
}
.right p {
    float: left;
}
.switch {
    float: right;
}

.right p {
    padding: 0.5em 1em 0 0;
}
.mobile-visible {
    display: none;
}
/****************
       Cards
  ***************/
.cards {
    display: flex;
    flex-direction: row;
    margin: 6em 4em 4em 8em;
    position: relative;
}
.card {
    display: block;
    float: left;
    width: 22%;
    height: 28vh;
    margin-right: 2%;
    background-color: var(--card-background);
    text-align: center;
    border-radius: 3px;
    align-items: center;
}
.card:hover {
    background-color: var(--card-background-highlight);
}
/* card border-top */
.facebook {
    border-top: 5px var(--Facebook) solid;
}
.twitter {
    border-top: 5px var(--Twitter) solid;
}
.instagram {
    border-top: 5px solid;
    border-image-source: linear-gradient(
        to right,
        hsl(37, 97%, 70%),
        hsl(329, 70%, 58%)
    );
    border-image-slice: 1;
}
.youtube {
    border-top: 5px var(--YouTube) solid;
}
.username {
    font-size: 0.8em;
    padding: 2em 0 1em 0;
    color: var(--secondary-font);
}
.follower-total {
    font-size: 2.5em;
    font-weight: 700;
}
.follower-subscriber {
    font-size: 0.8em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--secondary-font);
}
.follower-increased {
    padding: 1em;
    font-size: 12px;
    font-weight: 700;
}
.follower-green {
    color: var(--LimeGreen);
}
.follower-red {
    color: var(--BrightRed);
}
/* social media icons */
.fab,
.fa {
    font-size: 18px;
    padding-right: 0.5em;
}
.fa-facebook {
    color: var(--Facebook);
}
.fa-twitter {
    color: var(--Twitter);
}
.fa-instagram {
    /* color: transparent; */
    background: #d6249f;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-youtube-play {
    color: var(--BrightRed);
}

/*****************

    Overview

 *****************/
.overview {
    margin: 0 4em 1em 8em;
    /* padding-bottom: 2em; */
}
.overview-container {
    display: flex;
    flex-direction: column;
}
.overview-data {
    flex-direction: row;
    padding-top: 2em;
}
.overview-tabs {
    background: var(--card-background);
    text-align: left;
    height: 15vh;
    /* padding: 1.5em 1em 0 1em; */
    align-content: center;
    justify-content: center;
    padding: 1.4em;
}
.overview-tabs-left {
    display: block;
    float: left;
}
.overview-tabs-left p,
.overview-tabs-right i {
    padding-bottom: 1.2em;
}
.overview-tabs-right {
    display: block;
    float: right;
}

.icon {
    text-align: right;
    padding-left: 1em;
    line-height: 1;
}

/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
    padding: 2em;
}

.attribution a {
    color: #3e52a3;
}
